<!DOCTYPE html>
<html>
    <head>
        <title>Laravel</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

        <style>
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

            a {
                text-decoration: none;
            }

            .container {
                text-align: center;
                display: table-cell;
            }

            .content {
                text-align: center;
                display: inline-block;
            }

            .title {
                font-size: 96px;
            }
            .post{
                background-color: #e3e3e3;
                padding: 20px;
                margin-bottom: 10px;
            }
            .btn{
                background: #f3f3f3;
                padding: 15px;
                margin-bottom: 15px;
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">Post list</div>

                <a href="{{ route('post.create', {}, {'class': 'btn'}) }}" class="btn">Create</a>

                {% for post in posts %}
                    <div class="post">
                        <a href="{{ route('post.edit', post.id, {'class': 'btn'}) }}">Edit</a>
                        <a href="{{ route('post.remove', post.id, {'class': 'btn'}) }}">Remove</a>
                        <h3>{{ post.title }} </h3>
                        <p>{{ post.body }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
